<!DOCTYPE html>
<html>
    <head>
        <title>ihsanul</title>
    </head>
    <body>
        <h1>{{barang}}</h1>
        <form action="/barang/5d2c46e452bf542912d31b5e" method="GET">
            <button></button>
        </form>
    </body>
</html>